*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

.navigator{
    background-color: black;
    margin: 0;
}

.logo
{
    color: cornsilk;
    font-family: 'Pokemon Solid',sans-serif;
    padding: 2%;
    text-align: center;
    font-size: xx-large;
}

.listContain
{
    background-color: #23272A;
    padding: 15px;
    text-align: center;
    width: 20%;
}
.listTitle
{
    color: cornsilk;
    text-align: center;
    font-family: 'Pokemon Solid',sans-serif;
}

.help
{
    color: black;
    font-size: xx-large;
}


#pokemonContain
{
    position: relative;
    left:30%;
    top:20%;
    width: fit-content;
}


#model
{
    position: absolute;
    top: 130px;
    border: 2px #999999;
    border-style:solid;
    border-radius: 15%;
}

#titleText
{
    position: absolute;
    top: 20%;
}

.header
{
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    color: #999999; 
}

#name
{
    color: black;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}
#list
{

    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 20%;
    overflow-y: auto;
    
}

.pokemon
{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-collapse: collapse;

}

#statList
{
    list-style: none;
    margin: 0;
}

#detailDiv
{

    width:400px;
    position: absolute;
    left: 350px;
    top: 100px;
    text-align: left;
}

#cryButton
{
    position: absolute;
    top:475px;
    left:45px;
    border-color: #23272A;
}


#cry
{
    background-color: white;  
    color: black;
    font-size: x-large;
    height: 50px;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
}

#cry:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    box-shadow: 0 0 50px gray;
}

.stats
{
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    padding-bottom: 5vh;
    color: #999999; 
    margin: 0;
}

#select
{
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    color: #999999; 
}

#noPokemon
{
    position: absolute;
    left: 180px;
    top:100px;
}

#question
{
    width: 300px;
    height: 300px;
}


@media only screen and (max-width:1085px) and (min-width:896px)
{

    .stats
    {
        font-family: 'Open Sans', sans-serif;
        font-size: large;
        padding-bottom: 5vh;
        color: #999999; 
        margin: 0;
    }
    #detailDiv
    {
        width:400px;
        position: absolute;
        left: 275px;
        top: 120px;
        text-align: left;
    }

    #noPokemon
    {
        position: absolute;
        left: 150px;
        top:50px;
    }

    #question
    {
        height: 200px;
        width:200px;
    }


}

@media only screen and (max-width:896px)
{

    #pokemonContain
    {
        position: absolute;
        width: fit-content;
        left:30%;
        top:90px;

    }

    #detailDiv
    {
        position: absolute;
        width:60vw;
        left: 0px;
        top: 450px;
        text-align: left;
        margin: 0;
    }

    .listContain
    {
        background-color: #23272A;
        padding: 15px;
        text-align: center;
    }
    .listTitle
    {
        color: cornsilk;
        text-align: center;
        font-size: small;
        font-family: 'Pokemon Solid',sans-serif;
    }  
    
    #model
    {
        position: absolute;
        top: 150%;
        border: 2px #999999;
        border-style:solid;
        border-radius: 15%;
    }

    #cryButton
    {
        position: absolute;
        top:375px;
        left:20px;
    }

    #pokemonImg
    {
        width: 200px;
        height:200px;
    }

    .stats
    {
        font-family: 'Open Sans', sans-serif;
        font-size: large;
        padding-bottom: 5vh;
        color: #999999; 
        margin: 0;
    }

    .header
    {
        font-family: 'Open Sans', sans-serif;
        font-size: x-large;
        color: #999999; 
    }

    #list
    {

        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 20%;
        overflow-y: auto;
        
    }

    #noPokemon
    {
        position: absolute;
        left: 0px;
        top:50px;
    }

    #question
    {
        height: 200px;
        width:200px;
    }

    #select
    {
        font-size: medium;
    }

}

@media only screen and (min-height:920px) and (min-width:896px)
{
    #cryButton
    {
        position: absolute;
        top:475px;
        left:45px;
    }

    #list
    {

        align-items: center;
        justify-content: center;
        height: 89vh;
        width: 20%;
        overflow-y: auto;
        
    }

    #noPokemon
    {
        position: absolute;
        left: 20px;
        top:50px;
    }

    #question
    {
        height: 200px;
        width:200px;
    }

}