*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navigator{
    background-color: black;
    padding: 25px;
}

.logo
{
    color: cornsilk;
    text-align: center;
    font-family: 'Pokemon Solid',sans-serif;
    font-size: xx-large;
}

.listContain
{
    background-color: #23272A;
    padding: 15px;
    width: 20%;
}
.listTitle
{
    color: cornsilk;
    text-align: center;
    font-family: 'Pokemon Solid',sans-serif;
}

.help
{
    color: black;
    font-size: xx-large;
}

#pokeList{
    color: black;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    overflow: scroll;
    height: 595px;
    width: 20%;
    list-style-type: none;
    
}


#name
{
    color: black;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}
#list
{

    align-items: center;
    justify-content: center;
    height: 590px;
    width: 20%;
    overflow-y: auto;
    
}

.pokemon
{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-collapse: collapse;

}
